@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    /* デフォルトですべての文字に丸ゴシックを適用 */
    @apply font-zen text-gray-900 bg-white;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}