/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Jekyll source [cite: 2, 3] */
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #222;
    line-height: 1.6;
    margin: 0;
  }
  
  /* タイトル等の指定フォント [cite: 21, 23] */
  h1, h2, h3, .font-zen {
    font-family: "Zen Maru Gothic", sans-serif;
  }
}