<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="relagarden 繧ｵ繧､繝郁ｪｬ譏弱ｒ縺薙％縺ｫ" />
  <link rel="stylesheet" href="{{ '/assets/css/relagarden.css' | relative_url }}">
</head>
<body>
  {% include header.html %}

  {% include hero.html %}

  <main class="container">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>

